:root {
	--tuerkis: rgb(200, 247, 255);
	--border-radius: 6px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

input[type='date'],
input[type='time'],
input[type='number'],
input[type='text'] {
	min-height: 32px;
	padding: 2px 6px;
	background-color: var(--tuerkis);
	border: none;
	border-radius: var(--border-radius);
}
